@font-face {
    font-family: Source Sans Pro;
    src: local("Source Sans Pro Medium"), url("{{ url_for('static', filename = 'fonts/SourceSansPro-Medium.ttf' }}") format("truetype");
    font-weight: regular;
}

@viewport {
    width: device-width;
}

:root {
    font-family: 'Source Sans Pro Medium', sans-serif;
    --font-size: 16px;
    --poke-red: #e4000f;
    --link-color: white;
    --bg-color: #eceff1;
    --bg-color2: lightgray;
    --bg-color3: #cfd8dc;
    --hover-color: #ffffff90;
    --base-border: 1px solid black;
    --border-radius: .5rem;
    --base-text-shadow: 0 0 2px black;
}

html {
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    background-position: center;
    
}

body {
    margin: 0 auto;
    padding: 1em;
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--bg-color2);
}

article {
    padding: 1em;
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
}

nav ul {
    padding: 0;
    list-style-type: none;
    overflow: auto;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    text-shadow: var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow);
}

nav li:hover {
    background-color: var(--hover-color);
    border-left: var(--base-border);
    border-right: var(--base-border);
}

ul {
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--poke-red);
}

h1, h2, h3, h4, h5 {
    margin: 0 auto;
    padding: var(--misc-padding);
    text-align: center;
}

b, th, strong {
    padding-right: 0 .1em 0 .1em;
    color: white;
    text-shadow: var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow);
}

h1, h2, h3 {
    color: black;
}

caption {
    margin-bottom: 1em;
}

input[type=text], input[type=number], input[type=password], select {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 10px;
    display: inline-block;
    border: var(--base-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

input[type=number] {
    text-align: center; 
}

input[type=submit] {
    font-size: 2em;
    width: 100%;
    background-color: var(--poke-red);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: var(--base-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    text-shadow: var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow);
}

input[type=submit]:hover, button:hover {
    background-color: var(--hover-color);
}

.RESET {
    margin: 2em auto;
    display: block;
    padding: 2em;
}

section {
    text-align: center;
}

figure img, a>img{
    padding: .5em;
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--bg-color2);
}

figure {
    margin: .5em;
    text-align: center;
    float: right;
}

a {
    color: var(--link-color);
    text-decoration: none;
    text-shadow: var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow);
}

.btns {
    padding: .5em;
    margin: .5em;
    border: none;
    border-radius: none;
    padding: .5em;
    margin: .5em;
    text-align: center;
}

.nav-btns {
    text-align: center;
    padding: .5em;
    margin: .5em;
    border: none;
    border-radius: none;
    padding: .5em;
    margin: .5em;
}

button {
    margin: 0.2em;
    background-color: var(--poke-red);
    border: var(--base-border);
    border-radius: var(--border-radius);
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow), var(--base-text-shadow);
}

button a {
    color: white;
}

p {
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--bg-color3);
}

td, th {
    padding: 0;
    overflow: auto;
    text-align: center;
}

th {
    padding: .4em;
}

#dex-table th {
    text-align: left;
}

#dex-entry h3, #dex-entry p {
    text-align: left;
}

#dex-entry p {
    margin-left: 1em;
}

#dex-entry table {
    width: 60%;
    padding: 0;
}

#users table {
    font-size: 1.5em;
    width: 60%;
}

footer {
    text-align: center;
    padding: .5em;
    margin: .5em;
    border: var(--base-border);
    border-radius: var(--border-radius);
    background-color: var(--bg-color3);
    padding: .5em;
    margin: .5em;
}

article {
    margin: 0 auto;
    width: 90%;
}

@media (hover: none) {
    tr:nth-child(off) {
        background-color: lightgray;
    }
}

@media (hover: hover) {
    tr:hover {
        background-color: var(--bg-color);
    }
}

@media screen and (min-width: 720px) {
    nav ul {
        display: flex;
    }
    body {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 80%;
    }
    form {
        width: 35%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 60%;
    }
}