{% if pokemon %}
<article>
    <table>
        <caption><h3><b>{{ caption }}</b></caption></h3>
        <tr>
            <th scope="col">Sprite</th>
            <th scope="col">Nat Dex #</th>
            <th scope="col">Name</th>
            <th scope="col">Type 1</th>
            <th scope="col">Type 2</th>
            {% if classification %}
                <th scope="col">Classification</th>
            {% endif %}
            {% if hidden_ab %}
                <th scope="col">Hidden Ability</th>
            {% endif %}
                {% if leg_type %}
                <th scope="col">Legendary Type</th>
            {% endif %}
            {% if region %}
                <th scope="col">Region</th>
            {% endif %}
            {% if stats %}
                <th scope="col">HP</th>
                <th scope="col">ATK</th>
                <th scope="col">DEF</th>
                <th scope="col">SP ATK</th>
                <th scope="col">SP DEF</th>
                <th scope="col">SPD</th>
                <th scope="col">Total</th>
            {% endif %}
            {% if evs %}
                <th scope="col">HP EV</th>
                <th scope="col">ATK EV</th>
                <th scope="col">DEF EV</th>
                <th scope="col">SP ATK EV</th>
                <th scope="col">SP DEF EV</th>
                <th scope="col">SPD EV</th>
                <th scope="col">Total EV</th>
            {% endif %}
        </tr>
    {% for poke in pokemon %}
        <tr>
            {% if poke["alternate_form_name"] %}
                <td><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}"><img src="{{ url_for('static', filename = 'sprites/pokemon/'+poke['pokedex_number']|string+'-'+poke['alternate_form_name'])+'.png' }}" width="48"/></a></td>
            {% else %}
                <td><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}"><img src="{{ url_for('static', filename = 'sprites/pokemon/'+poke['pokedex_number']|string)+'.png' }}" width="48"/></a></td>
            {% endif %}
            <td>{{ poke["pokedex_number"] }}</td>
            <td><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}">{{ poke["alternate_form_name"] }} {{ poke["pokemon_name"] }}</a></td>
            <td>{{ poke["primary_type"] }}</td>
            <td>{{ poke["secondary_type"] }}</td>
            {% if classification %}
                <td>{{ poke["classification"] }}</td>
            {% endif %}
            {% if hidden_ab %}
                <td>{{ poke["hidden_ability"] }}</td>
            {% endif %}
            {% if leg_type %}
                <td>{{ poke["legendary_type"] }}</td>
            {% endif %}
            {% if region %}
                <td>{{ poke["region_of_origin"] }}</td>
            {% endif %}
            {% if stats %}
                <td>{{ poke["health_stat"] }}</td>
                <td>{{ poke["attack_stat"] }}</td>
                <td>{{ poke["defense_stat"] }}</td>
                <td>{{ poke["special_attack_stat"] }}</td>
                <td>{{ poke["special_defense_stat"] }}</td>
                <td>{{ poke["speed_stat"] }}</td>
                <td>{{ poke["base_stat_total"] }}</td>
            {% endif %}
            {% if evs %}
                <td>{{ poke["health_ev"] }}</td>
                <td>{{ poke["attack_ev"] }}</td>
                <td>{{ poke["defense_ev"] }}</td>
                <td>{{ poke["special_attack_ev"] }}</td>
                <td>{{ poke["special_defense_ev"] }}</td>
                <td>{{ poke["speed_ev"] }}</td>
                <td>{{ poke["ev_yield_total"] }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endif %}
</article>