{% extends "base.html" %}

{% block main_content %}

<article id="dex-entry">
    <h2>{{ pokemon["alternate_form_name"] }} {{ pokemon["pokemon_name"] }}</h2>
    <section class="btns">
        <button><a href="{{ url_for('add_to_favourites', pokemon_id=pokemon['pokemon_id']) }}">Add to favourites</a></button>
    </section>
    {% if pokemon["alternate_form_name"] %}
    <figure>
        <img src="{{ url_for('static', filename = 'sprites/pokemon/'+pokemon['pokedex_number']|string+'-'+pokemon['alternate_form_name'])+'.png' }}" width="96"/>
        <figcaption>{{ pokemon["alternate_form_name"] }}</figcaption>
    </figure>
    {% else %}
    <figure>
        <img src="{{ url_for('static', filename = 'sprites/pokemon/'+pokemon['pokedex_number']|string)+'.png' }}" width="96"/>
        <figcaption>Non-Shiny</figcaption>
    </figure>
    {% endif %}
    {% if not pokemon["alternate_form_name"] and pokemon["pokedex_number"] < 808 %}
    <figure>
        <img src="{{ url_for('static', filename = 'sprites/shiny/'+pokemon['pokedex_number']|string)+'.png' }}" width="96"/>
        <figcaption>Shiny</figcaption>
    </figure>
    {% endif %}
    <h3>Classification:</h3>
    <p>
        {{ pokemon["classification"] }}
    </p>
    <h3>Primary Type:</h3>
    <p>
        {{ pokemon["primary_type"] }}
    </p>
    <h3>Primary Ability:</h3>
    <p>
        {{ pokemon["primary_ability"] }}
    </p>
    <h3>Primary Ability Description:</h3>
    <p>
        {{ pokemon["primary_ability_description"] }}
    </p>
    {% if pokemon["secondary_ability_description"] %}
        <h3>Secondary Ability:</h3>
        <p>
            {{ pokemon["secondary_ability"] }}
        </p>
        <h3>Secondary Ability Description:</h3>
        <p>
            {{ pokemon["secondary_ability_description"] }}
        </p>
    {% endif %}
    {% if pokemon["hidden_ability"] %}
        <h3>Hidden Ability:</h3>
        <p>
            {{ pokemon["hidden_ability"] }}
        </p>
        <h3>Hidden Ability Description:</h3>
        <p>
            {{ pokemon["hidden_ability_description"] }}
        </p>
    {% endif %}
    {% if pokemon["evolution_details"] %}
        <h3>Evolution Details:</h3>
        <p>
            {{ pokemon["evolution_details"] }}
        </p>
    {% endif %}
    {% if pokemon["secondary_ability_description"] %}
        <h3>Secondary Ability:</h3>
        <p>
            {{ pokemon["secondary_ability"] }}
        </p>
        <h3>Secondary Ability Description:</h3>
        <p>
            {{ pokemon["secondary_ability_description"] }}
        </p>
    {% endif %}
    <h3>Height:</h3>
    <p>
        {{ pokemon["pokemon_height"] }} M
    </p>
    <h3>Weight:</h3>
    <p>
        {{ pokemon["pokemon_weight"] }} KG
    </p>
    <h3>Region:</h3>
    <p>
        {{ pokemon["region_of_origin"] }}
    </p>
    <h3>Game of Origin:</h3>
    <p>
        Pokémon {{ pokemon["game_of_origin"] }}
    </p>
    <h2>Stats Table</h2>
    <section>
    <table id="dex-table">
        <tr>
            <th scope="row">HP</th>
            <td>{{ pokemon["health_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">ATK</th>
            <td>{{ pokemon["attack_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">DEF</th>
            <td>{{ pokemon["defense_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">SP ATK</th>
            <td>{{ pokemon["special_attack_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">SP DEF</th>
            <td>{{ pokemon["special_defense_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">SPD</th>
            <td>{{ pokemon["speed_stat"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Total</th>
            <td>{{ pokemon["base_stat_total"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Male Ratio</th>
            <td>{{ pokemon["male_ratio"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Female Ratio</th>
            <td>{{ pokemon["female_ratio"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Base Happiness</th>
            <td>{{ pokemon["base_happiness"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Game of Origin</th>
            <td>{{ pokemon["game_of_origin"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Experience Growth</th>
            <td>{{ pokemon["experience_growth"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Primary Egg Group</th>
            <td>{{ pokemon["primary_egg_group"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Secondary Egg Group</th>
            <td>{{ pokemon["secondary_egg_group"] }}</td>
        </tr>  
        <tr>
            <th scope="row">Egg Cycle Count</th>
            <td>{{ pokemon["egg_cycle_count"] }}</td>
        </tr>
    </table>
    </section>
    <section class="btns">
        {% if pokemon_id == 1 %}
            <button><a href="{{ url_for('poke_nav', pokemon_id=pokemon['pokemon_id'] + 1, direction='next') }}">NEXT</a></button>
        {% elif pokemon_id == 1605 %}
            <button><a href="{{ url_for('poke_nav', pokemon_id=pokemon['pokemon_id'] - 1, direction='prev') }}">PREV</a></button>
        {% else %}
            <button><a href="{{ url_for('poke_nav', pokemon_id=pokemon['pokemon_id'] - 1, direction='prev') }}">PREV</a></button>
            <button><a href="{{ url_for('poke_nav', pokemon_id=pokemon['pokemon_id'] + 1, direction='next') }}">NEXT</a></button>
        {% endif %}
        <br>
            <button><a href="{{ url_for('pokedex') }}">Back to Search</a></button>
    </section>
</article>

{% endblock %}