{% extends "base.html" %}

{% block main_content %}

    <h1>Rest Users Table!</h1>
    <h2>Clicking the below button will delete all users as well as their saved favourites.</h2>
    <h2>You will be taken to a confirmation page after clicking reset.</h2>
    <h2>The only account that will remain intact is the admin account!</h2>
    <button class="RESET"><a href="{{ url_for('confirm_reset') }}">RESET</a></button>
    <section class="btns">
        <button><a href="{{ url_for('admin') }}">Back to Admin</a></button>
    </section>
{% endblock %}