{% extends "base.html" %}

{% block main_content %}
    <article id="favourites">
        <h3>Your Favourites</h3>
        {% if pokemon %}
            <table>
                <th scope="col">Sprite</th>
                <th scope="col">Name</th>
                <th scope="col">Dex Entry</th>
                <th scope="col">Remove</th>
                {% for poke in pokemon %}
                <tr>
                    {% if poke["alternate_form_name"] %}
                        <td><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}"><img src="{{ url_for('static', filename = 'sprites/pokemon/'+poke['pokedex_number']|string+'-'+poke['alternate_form_name'])+'.png' }}" width="48"/></a></td>
                    {% else %}
                        <td><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}"><img src="{{ url_for('static', filename = 'sprites/pokemon/'+poke['pokedex_number']|string)+'.png' }}" width="48"/></a></td>
                    {% endif %}
                    <td>{{ poke["alternate_form_name"] }} {{ poke["pokemon_name"] }}</td>
                    <td class="btns"><button><a href="{{ url_for('pokemon', pokemon_id=poke['pokemon_id']) }}">Pokédex Entry</a></button></td>
                    <td class="btns"><button><a href="{{ url_for('remove_from_favourites', pokemon_id=poke['pokemon_id']) }}">Remove</a></button></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Your favourites are empty!</p>
        {% endif %}
    </article>
{% endblock %}