{% extends "base.html" %}

{% block main_content %}
<p>
    Fair Dealing for the use of copyrighted material for use in a review/educational manner covered by the
    <a href="https://www.irishstatutebook.ie/eli/2000/act/28/enacted/en/print" target="_blank">
        <b>Copyright and Related Rights Act, 2000</b></a>
</p>
<p>
    Sprites taken from <a href="https://github.com/PokeAPI/sprites"
        target="_blank">https://github.com/PokeAPI/sprites</a> |
    <a href="https://github.com/PokeAPI/sprites/blob/master/LICENCE.txt" target="_blank">
        <b>Creative Commons Zero v1.0 Universal</b></a>
</p>
<p>
    Database populated with data from CSV <a href="https://www.kaggle.com/mrdew25/pokemon-database" target="_blank">
        https://www.kaggle.com/mrdew25/pokemon-database</a> |
    <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><b>CC0 1.0 Universal (CC0 1.0)
            Public Domain Dedication</b></a>
</p>
<p>
    Pokémon images & names © 1995-2022 Nintendo/Game Freak.
</p>
{% endblock %}